@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
  color: #7a7a7a;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 7.5rem;
  position: relative;
}

a {
  color: #776677;
  text-decoration: none;
}

input {
  background: none;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.logo {
  font-family: 'Open Sans', serif;
  color: #bc436a;
  font-weight: 700;
}

header nav {
  display: flex;
  align-items: center;
}

.user-menu {
  margin-right: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.user-menu:nth-child(1) a {
  color: #bc436a;
}

.user-menu:last-child {
  margin-right: 0;
  width: 6.4rem;
  height: 2.4rem;
  margin-right: 0;
  border-radius: 0.25rem;
  background-color: #386e41;
}

.user-menu:last-child a {
  color: #ffffff;
}

.square {
  position: fixed;
  top: 50%;
  left: -60px;
  width: 7.5rem;
  height: 7.5rem;
  border: 0.63rem solid #386e41;
}

.main-content {
  max-width: 50%;
  padding: 9.37rem 4.81rem 2rem 0;
}

.main-content h1 {
  margin-bottom: 1.44rem;
  color: #333333;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 3rem;
}

.main-content h1 strong {
  color: #bc436a;
}

.image {
  width: 50.75rem;
  height: 50.75rem;
  border-radius: 50%;
  background-image: url(../assets/person.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 10rem;
  right: -3.75rem;
  z-index: -1;
}

.take-you {
  padding-top: 14.3rem;
  color: #767676;
}

.take-you i {
  margin-left: 1.5rem;
  color: #767676;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75rem;
  height: 6.3rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: #386e41;
}

input {
  width: 16rem;
  padding: 0.25rem 0 0.75rem;
  border-bottom: 0.06rem solid rgb(255, 255, 255);
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

form i {
  color: #ffffff;
  margin-left: -1.75rem;
  cursor: pointer;
}

.search-place {
  max-width: 9rem;
  height: 2.6rem;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #bc436a;
}

.search-place:hover {
  cursor: pointer;
  background-color: #a23659;
}

footer {
  margin-top: 4.5rem;
  text-align: center;
}

footer h4,
footer i {
  color: #767676;
  cursor: pointer;
}

footer i {
  margin-top: 0.9rem;
  margin-bottom: 3.4rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }

  .user-menu {
    margin-right: 1rem;
  }

  .main-content {
    padding-top: 4.8rem;
  }

  .image {
    width: 45.75rem;
    height: 45.75rem;
    top: 14rem;
    right: -18.75rem;
  }

  .square {
    width: 4.5rem;
    height: 4.5rem;
    left: -32px;
  }

  .take-you {
    padding-top: 5.5rem;
  }

  input {
    width: 7.5rem;
  }

  footer {
    margin-top: 3.5rem;
  }
}

@media (max-width: 426px) {
  header {
    flex-direction: column;
  }

  header nav {
    flex-direction: column;
  }

  .user-menu {
    margin-right: 0;
  }

  .image {
    display: none;
  }

  .main-content {
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  .square {
    width: 3.5rem;
    height: 3.5rem;
  }

  form {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  form div {
    margin-bottom: 2rem;
  }

  input {
    width: 12rem;
  }
}