*{
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
}
.parallax-bg{
    min-height: 100%;
    padding-top: 250px;
    background-image: url("../img/bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header,section{
    padding: 50px;
    background-color: wheat;
    margin-bottom: 300px;
}